# xplt dependencies
matplotlib==3.9.2
numpy==2.1.1
scipy==1.14.1
pint==0.24.3
# xplt optional dependencies
pandas==2.2.2
# other dependencies
xdeps==0.6.5
xfields==0.21.0
xobjects==0.4.4
xpart==0.19.0
xtrack==0.67.0
ipython==8.27.0
jupyterlab==4.2.5
tabulate==0.9.0
