# xplt dependencies
matplotlib==3.9.2
numpy==2.0.2
scipy==1.13.1
pint==0.24.3
# xplt optional dependencies
pandas==2.2.2
# other dependencies
xdeps==0.6.3
xfields==0.20.3
xobjects==0.4.4
xpart==0.18.6
xtrack==0.66.1
ipython==8.18.1
jupyterlab==4.2.5
tabulate==0.9.0
