
/* Stack footer items horizontally with separating border line instead of vertically */
.footer-item {
  display: inline-block;
}
.footer-item:not(:last-child) {
  border-right: 1px solid var(--pst-color-text-base);
  margin-right: .5em;
  padding-right: .5em;
}

